<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="http://www.nuget.org/api/v2/" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="packageInstallLocation" value="CustomWithinAssets" />
    <add key="repositoryPath" value="./Packages" />
    <add key="PackagesConfigDirectoryPath" value="." />
    <add key="DefaultPushSource" value="http://www.nuget.org/api/v2/" />
    <add key="slimRestore" value="true" />
    <!-- Force NfU to pick netstandard2.0 DLLs over net462 for SignalR.Client +
         transitives. Unity Editor's Mono can't load all the net462 variants
         (validateReferences fails silently), so HubConnection etc. don't
         resolve. The netstandard2.0 builds load cleanly. -->
    <add key="PreferNetStandardOverNetFramework" value="true" />
  </config>
</configuration>